.Navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
}

.Navigation label {
  margin: 0 5px;
}

.Disabled {
  background-color: gray;
  color: black;
}
