.Modal {
  position: fixed;
  z-index: 200;
  background-color: black;
  min-height: 250px;
  max-height: 70%;
  min-width: 70%;
  border: 1px 1px 1px white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
}

.Show {
  transform: translateY(0);
  opacity: 1;
}

.Hide {
  transform: translateY(-100vh);
  opacity: 0;
}
