.SideDrawer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  height: 100%;
  width: 35%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  border: solid white thin;
  transition: transform 0.3s ease-out;
}

.Open {
  transform: translate(0);
}

.Close {
  transform: translate(-100%);
}
