.NavigationItem {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  height: 80%;
}

.NavigationLink {
  text-decoration: none;
  color: white;
}

.NavigationItem img {
  margin:auto;
  width: 30px;
}