.Form {
    width: 100%;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
}

.Form header {
    height: auto;
    min-height: 25px;
}

.Form .Content {
    justify-content: flex-start;
    gap: 5px;
}

.Form footer {
    height: auto;
    min-height: 25px;
}